@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
body{background: #fff; margin: 0px; padding: 0px;font-family: 'Helvitica', sans-serif;
 font-size: 22px;    color: rgb(45, 45, 45); font-weight: 500; text-align: center;}
.container{max-width: 880px; margin: auto;}
.button-section{background: #fff; padding: 20px; border-radius: 10px;    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 40%);
}

.logo{max-width: 200px; height: auto; width: 100%;}
.header-line a{color: #000; text-decoration: none;}
.header-line a:hover{color: #2d2d2de3; text-decoration: none;}
.header-line span,.red{color: red;}

.top-mid{height:2px; background: #eee; margin-top: 5rem; margin-bottom: 5rem;}
.top-mid img{ margin-top: -3rem;}
.main-sect{display:flex; justify-content: space-between;}
.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #bababb;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #004aad;
    border-width: 0px;
    background-color: #004aad;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #004aad; font-weight: 700;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 26px);
	background-color: #bababb;
	top: 13px;
	position: absolute;
	left: calc(-50% + 14px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #004aad;}























img{max-width: 100%;}
.button{   
 
     background-color: #e9a800;
   color: #FFFFFF;
    font-size: 1.7337rem;
    font-family: Arial;
    font-weight: 700;
	    display: block;
    padding: 15px;
    text-align: center;
 
    text-decoration: none;
max-width: 100%;
    margin: auto;
   

}
.main{max-width: 500px;
	margin: auto;}
footer{ margin-top: 20px; padding: 10px; font-size: 12px; text-align: left; color: #8f8d9b;}

.policy{display: block; padding: 10px;font-size: 13px;}
.policy a{color: #000; text-decoration: none;}
.top{background: #004aa2; text-align: left;     padding:1px;}
.center{text-align: center;}


.main p img{max-width: 100%;}
.top img{padding: 5px;}

.cta{ background: #fff; width: 100%; position: fixed; bottom: 0px; }
.button-cta{ max-width: 860px; margin: auto; margin-top: 10px; margin-bottom: 10px;    font-size: 16px;}
.button-cta a{background-color: #004aad; color: #FFFFFF;  font-size:18px; padding: 5px; text-decoration: none;    border-radius: 5px;}




/******* Do not edit this file *******
Simple Custom CSS and JS - by Silkypress.com
Saved: Sep 23 2021 | 15:50:52 */
a {
	text-decoration:none !important;
}  

.question {
    text-align: center;
}
  .hidden {
      display: none;
  }
  .inlineBlock {
      display: inline-block;
  }
  .cta_btn {

    text-align: center;
    background-color: #004aad;
    border-radius: 9px;
    padding: 15px 0px;
    margin: auto;
    margin-top: 10px;
  
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none !important;
    display: block;
    max-width: 400px;
    border: 2px solid #ffffff;
    color: #ffffff;

  }
  .cta_btn:hover {
	    background-color: #005fdf;
      color: white;
      box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.22), 0 233px 233px 0 rgba(255, 255, 255, 0.12) inset;
      cursor: pointer;
  }
  .boxme {
      text-align: center;
      padding: 2rem;
      background-color: #fff;
      border-top: 5px solid #00007c;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
      transition: all .2s ease;
  }
  .survey {
      text-align: center;
  }
  .loading {
      font-size: 24px;
      font-weight: bold;
  }
  .qualifyHeadline {
      font-size: 26px;
      font-weight: bold;
      color: #377e22;
      margin-bottom: 2px;
  }
  .loadingCopy {
      font-size: 22px;
		margin-bottom:25px;
  }
  #q2,
  #loading1,
  #loading2,
  #loading3,
  #qualify {
      display: none;
  }












@media screen and (max-width: 768px) {

	.container{padding-left: 6px; padding-right: 6px;}
	
	.button-cta a{background-color: #004aad; color: #FFFFFF;  font-size:18px; padding: 5px; text-decoration: none;    border-radius: 5px;  display: block; margin: 10px;}
	.boxme {
  
    padding: 1rem;

}
}







  @keyframes fade-in {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  @keyframes fade-out {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  .fade-in {
      animation: fade-in;
      animation-duration: .5s;
  }
  .fade-out {
      animation: fade-out;
      animation-duration: .5s;
  }

